<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
            <nav class = "navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <span style = "vertical-align: inherit;"> <span style = "vertical-align: inherit;"> Navbar </span>
                    </span>
                </a>

                <div class = "collapse navbar-collapse" id = "navbarColor03">
                    <ul class = "navbar-nav mr-auto">
                        <li class = "nav-item active">
                            <a class="nav-link" href="{{ path('enterprise_index') }}">
                                <span style = "vertical-align: inherit;">
                                    <span style = "vertical-align: inherit;">Entreprises</span>
                                </span>
                                <span class = "sr-only"> <span style = "vertical-align: inherit;">
                                        <span style = "vertical-align: inherit;"> (actuel) </span>
                                    </span>
                                </span >
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class="nav-link" href="{{ path('poste_index') }}">
                                <span style = "vertical-align: inherit;">
                                    <span style = "vertical-align: inherit;">Postes</span>
                                </span>
                                
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class="nav-link" href="{{ path('techno_index') }}"> <span style = "vertical-align: inherit;">
                                    <span style = "vertical-align: inherit;">Techno</span>
                                </span>
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class="nav-link" href="{{ path('activity_index') }}"> <span style = "vertical-align: inherit;">
                                    <span style = "vertical-align: inherit;">Secteur d'activité</span>
                                </span>
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class="nav-link" href="{{ path('job_offer_index') }}"> <span style = "vertical-align: inherit;">
                                    <span style = "vertical-align: inherit;">Offres d'emploi</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
